$secondaryColor: #E67373;
$primaryColor: white;
$mainFont: "Arial";


.about-container{
    display: flex;
    padding: 30px;
}

.about {
    margin-top: 60px;
    font-family: $mainFont;
    line-height: 25px;
    color: $secondaryColor;
    width: 70%;
    margin-left: 10%;
}


.about-btn > button {
    color: $secondaryColor;
    margin-left: 30%;
    margin-top: 5%;
    padding: 5px;
    border: 1px solid $secondaryColor;
    font-size: 12px;
    width: 80px;
    font-size: $mainFont;
}

button:hover { 
    background-color: $secondaryColor;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    
  }

.devices {
    height: 300px;
}

@media only screen and (max-width: 375px){
    .about-container{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .about-info{
        text-align: center;
        
    }

    .about {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .about-btn > button {
        text-align: center;
        margin: 0 auto;
    }

    .devices {
        height: 200px;
        margin-top: 40px;
    }
    
}

