$secondaryColor: #AD9132;
$primaryColor:#986767;
$mainFont: "Hoefler Text";

@keyframes line {
    0% {
        visibility: hidden;
       
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }

}



@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@mixin line-bottom {
    margin-top: 5%;
    margin-right: 0;
    width: 20%;
    height: 10px;
    background-color: $primaryColor;
    border: none;
    z-index: 9;
}

.about-container {
    position: relative;
}

.line-work {
    background-color: $secondaryColor;
    height: 4px;
    margin-top: 4%;
    width: 30%;
    margin-right: 0;
    margin-bottom: 0;
    border: none;

}

.title-about {
    transform: rotate(-90deg);
    animation: line 3s  ease-in;
    text-transform: uppercase;
    position: absolute;
    color:#D6B6B6;
    margin-top: 100px;
    margin-left: 30px;
    font-family: $mainFont;
    font-size: 60px;
}

.line-work-side {
    background-color: $primaryColor;
    transform: rotate(90deg);
    position: absolute;
    margin-left: -200px;
    margin-top: 10%;
    height: 3px;
    width: 500px;
    border: none;
 
}

.sub-container {
    margin-top: 0;
    margin-left: 25%;
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;


}

.sub1 {
    text-transform: uppercase;
    font-size: 30px;
    color: $secondaryColor;
}

.sub2 {
    text-transform: uppercase;
    font-size: 40px;
    color: $secondaryColor;
}

.sub3 {
    text-transform: uppercase;
    font-size: 50px;
    color: $secondaryColor;
    font-family: $mainFont;
    font-weight: 800;
}

.about-p {
    animation: line 5s  ease-in;
    text-align: left;
    width: 1300px;
    margin-left: 400px;
    margin-top: 150px;
    padding-left: 70px;
    font-family: "Hoefler Text";
    color: $primaryColor;
    line-height: 40pt;
    font-size: 25px;
    font-weight: 800;

}

.btns{
    animation: title 10s  ease-in;
    margin-left: 45%;
    margin-top: 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.btn-one{
    background-color: $primaryColor;
    color: white;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-right: 25px;
    margin-bottom: 3%;
    border-radius: 5px;
}

.btn-two{
    border: 1px solid $primaryColor;
    color:$primaryColor;
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
   
}

.btn-three{
    background-color: $primaryColor;
    color: white;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-right: 25px;
    margin-top: 3%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color:$primaryColor;
}


.line-work-bottom {
    @include line-bottom;
    margin-top: 10%;
    margin-right: 0;
}

