$secondaryColor: #AD9132;
$mainFont: "Hoefler Text";

.main-container{
    display: flex;
    margin-bottom: 40px;
}

.box {
    height: 300px;
    width: 41%;
    background-color: #E67373;
}

.profile {
    height: 300px;
    width: 250px;
}

.Name {
    height: 170px;
    margin-top: 10%;
    margin-left: 20%;
}

.Des {
    height: 150px;
    margin-top: 10%;
    margin-left: 20%;
}

@media only screen and (max-width: 375px){
    .box {
        height: 300px;
        width: 22%;
        background-color: #E67373;
    }

    .Des {
        height: 100px;
        margin-top: 200px;
        margin-left: -70px;
        position: absolute;
    }

    .Name {
        height: 100px;
        margin-top: 40%;
        margin-left: 5%;
        position: absolute;
    }

    .profile {
        height: 300px;
        width: 220px;
    }

}

@media only screen and (max-width: 800px){

    .Name {
        height: 95px;
    }

}