$secondaryColor: white;
$primaryColor: #E67373;
$mainFont: "Arial";

.App-header {
  background-color: black;
  display: flex;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 40px;
  background-color: black;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
}

.nav {
  margin-left: 0%;
  margin-right: 50%;
  margin-top: 8%;
  margin-bottom: 1%;
  text-decoration: none;
  color:$secondaryColor;
  font-family: $mainFont;
  font-size: 12px;
  text-transform: uppercase;
}

.nav:hover{
  color:$primaryColor;
}

.nav-icons {
  align-content: flex-start;
}

.icons {
  display: flex;
}

.github{
  width: 25px; 
  height: 25px;
  margin-left: 1%;
}

.linkedin{
  width: 25px;
  height: 25px;
  margin-left: 1%;
}

@media only screen and (max-width: 812px){
  .nav {
    margin-left: 0%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 1%;
  }
}