$secondaryColor: #AD9132;
$primaryColor:#986767;
$mainFont: "Hoefler Text";

@mixin line-bottom {
    width: 20%;
    height: 10px;
    background-color: $primaryColor;
    border: none;
}

.work-container{
    background-color:$primaryColor;
    height: 400px;
}
.line-top {
    background-color: $secondaryColor;
    border: none;
    margin-left: 0;
    height: 4px;
    width: 100%;
}

.title-work {
    text-transform: uppercase;
    color:#D6B6B6;
    font-family: $mainFont;
    font-size: 100px;
}

.work-content {
    width: 1500px;
    margin-left: 27%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.work {
    width: 170px;
    height: 170px;
    margin-left: 20px;
    background-color: white;
}


